<preloader-full></preloader-full>
<app-loader></app-loader>
<div class="page-center">
  <div class="reset-pass">
    <div class="container-fluid">
      <form class="sign-box reset-password-box">
        <div class="card custom-width">
            <div class="card-header text-center" data-background-color="rose">
                <h4 class="card-title">
                    <label class="signin-heading">Reset Password</label></h4>
              </div>
              <div class="card-content">
                <input type="text" class="form-control" placeholder="E-Mail or Phone" name = "email_phone" [(ngModel)]="email"/>
              
              <button type="submit" class="btn-login" (click)="reset_password()">Reset</button>
              <label>Or</label>
              <a class="btn-login" [routerLink]="['/confirm-password']">Sign in</a>
            </div>
      </div>
      </form>
    </div>
  </div>
</div><!--.page-center-->
