
<!-- 
<header class="site-header">
  <preloader-full></preloader-full>
  <div class="container-fluid">
   <div class="row ">
          <div class="col-md-2 col-sm-4 col-xs-6  h-logo">

      <a class="site-logo logo-row">
      <img class="hidden-md-down" [routerLink]="['/dashboard']" src="../../assets/headers-images/Option1.png" alt="">
      <img class="hidden-lg-up" [routerLink]="['/dashboard']" src="../../assets/headers-images/Option1.png" alt="">
           </a>
                </div>

        <div class="col-md-5 showul1 col-sm-4" style="display: none">

            <div class="dropdown" style="float:inherit;">
              <button class="dropbtn"> <i class="fa fa-user-circle"></i> Platforms <span class="fa fa-angle-down"></span></button>

                <div class="dropdown-content">
                  <a  [routerLink]="['/facebook/search']"  class="active">
                    <img  alt="" src="../../assets/header-images/Fb@1x-.png">
                    <span >   Facebook</span>
                     </a>
                       <a [routerLink]="['/youtube/search']"  >
                        <img  src="../../assets/header-images/YouTube@1x-.png">
                          <span >   Youtube</span>
                              </a>
                              <a [routerLink]="['/instagram/search']" >
                                <img  alt="" src="../../assets/header-images/Insta@1x-.png">
                                <span>   Instagram</span>
                              </a>
                              <a  [routerLink]="['/twitter/search']"  >
                                <img  alt="" src="../../assets/header-images/Twitter@1x-.png">
                                <span >   Twitter</span>
                              </a>
                              <a  [routerLink]="['/blogosphere/search']"  >
                                <img alt="" src="../../assets/header-images/Blog@1x-.png">
                                <span >  Blogosphere</span>
                              </a>
                                 
                                  <a  [routerLink]="['/pinterest/search']"  >
                                    <img alt="" src="../../assets/header-images/Pin@1x-.png">
                                    <span >  Pinterest</span>
                                  </a>
                              </div>
                            </div>

        </div>

           <div class=" col-md-6 col-sm-12 showul2" style="margin: 0 auto" >
                  <div  class="nav-Bar">
                      <a  [routerLink]="['/facebook/search']" routerlinkactive="active"  class="active">
                          <img  alt="" src="../../assets/header-images/Fb@1x-.png">
                          <span >Facebook</span>
                      </a>
                      <a [routerLink]="['/youtube/search']" routerlinkactive="active" >
                          <img  src="../../assets/header-images/YouTube@1x-.png">
                          <span >Youtube</span>
                      </a>
                      <a [routerLink]="['/instagram/search']"routerlinkactive="active" >
                          <img  alt="" src="../../assets/header-images/Insta@1x-.png">
                          <span>Instagram</span>
                      </a>
                      <a  [routerLink]="['/twitter/search']" routerlinkactive="active" >
                          <img  alt="" src="../../assets/header-images/Twitter@1x-.png">
                          <span >Twitter</span>
                      </a>
                      <a  [routerLink]="['/blogosphere/search']" routerlinkactive="active" >
                          <img alt="" src="../../assets/header-images/Blog@1x-.png">
                          <span >Blogosphere</span>
                      </a>
                     
                      <a  [routerLink]="['/pinterest/search']" routerlinkactive="active" >
                          <img alt="" src="../../assets/header-images/Pin@1x-.png">
                          <span >Pinterest</span>
                      </a>
                  </div>
          </div>
           <div class="col-md-2 col-sm-4 col-xs-6" style="text-align: right">
        <a  class="font-additional color-main text-uppercase hover-focus-color" data-target=".example-modal-lg" data-toggle="modal" href="#search" id="icon-type-to-search">
        
       </a>
     </div>
           <div class="col-md-2  right-drpdwn" *ngIf="showlink">

                <div class="row">


                        <div class="dropdown" style="float:right;">
                            <button class="dropbtn"> <i class="fa fa-user-circle"></i> My InfluExpAI <span class="fa fa-angle-down"></span></button>

                            <div class="dropdown-content">
                                <a [routerLink]="['/my-profile']"> <i class="fa fa-pencil"></i> My Profile</a>
                                <a [routerLink]="['/subscription-history']"> <i class="fa fa-history"></i> Subscription</a>
                                <a [routerLink]="['/update-password']"> <i class="fa fa-key"></i> Change Password</a>
                                <a [routerLink]="['/login']" (click)="logout()"> <i class="fa fa-sign-out"></i>Logout</a>
                              
                            </div>
                        </div>

                    </div>
                </div>

      </div>

          <div id="search">
              <button type="button" class="close">×</button>
              <form #myform>
                  <input #searchvalue1 type="search" value="" placeholder="Search to influence with Roar!" >
                  <button type="submit" class="close" style="  position: absolute;" (click)="find1(searchvalue1.value)">Search</button>
              </form>
          </div>
  </div>

</header> -->



<!-- Navigation -->
<header class="site-header">
  <div id="overlay">
    <input class="form-control" type="text" name="" class="search-input" placeholder="Seacrh Influcencer">
    <div class="cross-button">
        <a (click)="closenav()" class="closebtn">×</a>
    </div>
  </div>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
            <img src="https://www.influexpai.com/assets/Artboard%2014.svg" alt="">
          </a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
              <a  [routerLink]="['/facebook/search']" routerlinkactive="active"  class="active">
                <img  alt="" src="../../assets/header-images/Fb@1x-.png">
                <span >  Facebook</span>
            </a>
          </li>
          <li class="nav-item">
              <a [routerLink]="['/youtube/search']" routerlinkactive="active" >
                <img  src="../../assets/header-images/YouTube@1x-.png">
                <span >  Youtube</span>
            </a>
          </li>
          <li class="nav-item">
              <a [routerLink]="['/instagram/search']" >
                <img  alt="" src="../../assets/header-images/Insta@1x-.png">
                <span>  Instagram</span>
              </a>
          </li>
          <li class="nav-item">
              <a  [routerLink]="['/twitter/search']"  >
                <img  alt="" src="../../assets/header-images/Twitter@1x-.png">
                <span >  Twitter</span>
              </a>
          </li>
          <li class="nav-item">
              <a  [routerLink]="['/blogosphere/search']"  >
                <img alt="" src="../../assets/header-images/Blog@1x-.png">
                <span >  Blogosphere</span>
              </a>
          </li>
          <li class="nav-item">
              <a  [routerLink]="['/pinterest/search']"  >
                <img alt="" src="../../assets/header-images/Pin@1x-.png">
                <span >  Pinterest</span>
              </a>
          </li>


            <!-- <li class="nav-item">
          <a class="font-additional color-main text-uppercase hover-focus-color" data-target=".example-modal-lg" data-toggle="modal" href="#search" id="icon-type-to-search">
                    <button class="top-search-btn" id="serbtn"> <i class=" fa fa-search"></i> </button> </a>
            </li> -->
            <li>
            <!-- <div id="search">
              <div class="searsh-box">
                  <button type="button" class="close">×</button>
                  <form #myform> <input #searchvalue1 type="search" value="" placeholder="Search to influence with Roar!">
                      <button type="submit" class="close"  style=" position: absolute; display:  none"
                      (click)="find1(searchvalue1.value)">Search</button>
                  </form>
              </div>
          </div> -->
      
          <div class="">
            <!-- <a
                class="font-additional color-main text-uppercase hover-focus-color"
                data-target=".example-modal-lg" data-toggle="modal" href="#search" id="icon-type-to-search">
            <button class="top-search-btn" id="serbtn" (click)="opennav()"> <i
                    class=" fa fa-search"></i> </button> </a> -->
                    <a
                    class="font-additional color-main text-uppercase hover-focus-color"
                    data-target=".example-modal-lg" data-toggle="modal"  href="#search" id="icon-type-to-search">
                <button class="top-search-btn" id="serbtn" (click)="opennav()"> <i
                        class=" fa fa-search"></i> </button> </a>
            </div>
            
            <!-- <div class="col-md-1 col-sm-1" style="margin: 19px">
                <a class="font-additional color-main text-uppercase hover-focus-color"
                        data-target=".example-modal-lg" data-toggle="modal" href="#search" id="icon-type-to-search">
                    <button class="top-search-btn" id="serbtn"> <i
                            class=" fa fa-search"></i> </button> </a>
            </div> -->

       
          
        </li>

          <!-- <div class="col-md-2 col-sm-4 col-xs-6" style="text-align: right">
            <a  class="font-additional color-main text-uppercase hover-focus-color"
             data-target=".example-modal-lg" data-toggle="modal" href="#search" id="icon-type-to-search">
            
           </a>
         </div> -->

          <ul *ngIf="showlink">
            <li>
                <div *ngIf="logi" class="dropdown">
                    <button class=""> <i class="fa fa-user-circle"></i> My InfluExpAI <span class="fa fa-angle-down"></span></button>

                    <div class="dropdown-content">
                        <a [routerLink]="['/my-profile']"> <i class="fa fa-user-circle"></i> My Profile</a>
                        <a [routerLink]="['/subscription-history']"> <i class="fa fa-history"></i> Subscription</a>
                        <a [routerLink]="['/update-password']"> <i class="fa fa-key"></i> Change Password</a>
                        <a [routerLink]="['/login']" (click)="logout()"> <i class="fas fa-sign-out-alt"></i> Logout</a>
                      
                    </div>
                </div>
            </li>
          </ul>
        </ul>
      </div>
    </div>
</nav>


</header>
<!-- <div id="search">
    <div class="searsh-box">
        <button type="button" class="close">×</button>
        <form #myform>
           <input #searchvalue1 type="search" value="" placeholder="Search to influence with Roar!">
            <button type="submit" class="close"  style=" position: absolute; display:  none"  (click)="find1(searchvalue1.value)" >Search</button>
        </form>
    </div>
  </div> -->

  
  <div id="search">
      <div class="searsh-box">
          <button type="button" class="close">×</button>
          <form #myform> <input #searchvalue1 type="search" value="" placeholder="Search to influence with Roar!">
              <button type="submit" class="close"  style=" position: absolute; display:  none"
              (click)="find1(searchvalue1.value)">Search</button>
          </form>
      </div>
  </div>
      <!-- <div id="search">
              <div class="searsh-box">
                  <button type="button" class="close">×</button>
                  <form #myform> <input #searchvalue1 type="search" value="" placeholder="Search to influence with Roar!">
                      <button type="submit" class="close"  style=" position: absolute; display:  none"
                      (click)="find1(searchvalue1.value)">Search</button>
                  </form>
              </div>
          </div> -->

    <!-- <div id="search">
            <div class="searsh-box">
                <button type="button" class="close">×</button>
                <form #myform> <input #searchvalue1 type="search" value="" placeholder="Search to influence with Roar!">
                    <button type="submit" class="close"  style=" position: absolute; display:  none" >Search</button>
                </form>
            </div>
          </div>
          <div class="navbar2" style="display: none; position: inherit; text-align: end">
            <div class="col-md-5 showul1 col-sm-5">

                <div class="dropdown" style="float:inherit;">
                    <button class="dropbtn"> <i class="fa fa-list-alt"></i> Platforms <span class="fa fa-angle-down"></span></button>

                    <div class="dropdown-content">
                        <a  [routerLink]="['/facebook/search']"  class="active">
                            <img  alt="" src="../../assets/header-images/Fb@1x-.png">
                            <span >   Facebook</span>
                        </a>
                        <a [routerLink]="['/youtube/search']"  >
                            <img  src="../../assets/header-images/YouTube@1x-.png">
                            <span >   Youtube</span>
                        </a>
                        <a [routerLink]="['/instagram/search']" >
                            <img  alt="" src="../../assets/header-images/Insta@1x-.png">
                            <span>   Instagram</span>
                        </a>
                        <a  [routerLink]="['/twitter/search']"  >
                            <img  alt="" src="../../assets/header-images/Twitter@1x-.png">
                            <span >   Twitter</span>
                        </a>
                        <a  [routerLink]="['/blogosphere/search']"  >
                            <img alt="" src="../../assets/header-images/Blog@1x-.png">
                            <span >  Blogosphere</span>
                        </a>
                        <a  [routerLink]="['/linkedin/search']"  >
                            <img alt="" src="../../assets/header-images/LinkedIn@1x-.png">
                            <span >  LinkedIn</span>
                        </a>
                        <a  [routerLink]="['/pinterest/search']"  >
                            <img alt="" src="../../assets/header-images/Pin@1x-.png">
                            <span >  Pinterest</span>
                        </a>
                        <a [routerLink]="['/periscope/search']">
                            <img src="../../assets/img/periscope_24.png">

                            <span class="lbl">Periscope</span>
                        </a>
                        <a [routerLink]="['/medium/search']">
                            <img src="../../assets/header-images/medium.png">

                            <span class="lbl">Medium</span>
                        </a>
                        <a [routerLink]="['/flickr/search']">
                            <img src="../../assets/header-images/flickr_32.png">

                            <span class="lbl">Flickr</span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="col-md-1 col-sm-1" style="margin: 19px">
                <a class="font-additional color-main text-uppercase hover-focus-color"
                        data-target=".example-modal-lg" data-toggle="modal" href="#search" id="icon-type-to-search">
                    <button class="top-search-btn" id="serbtn"> <i
                            class=" fa fa-search"></i> </button> </a>
            </div>
            <div class="col-md-6 col-sm-6 showul2">


            <div class="dropdown">
                <button class="dropbtn"> <i
                    class="fa fa-user-circle"></i> My InfluExpAI <span
                    class="fa fa-angle-down"></span></button>
                <div class="dropdown-content"> <a [routerLink]="['/my-profile']"> <i
                        class="fa fa-pencil"></i>My Profile</a> <a
                        [routerLink]="['/subscription-history']"> <i
                        class="fa fa-history"></i>Subscription</a> <a
                        [routerLink]="['/update-password']"> <i class="fa fa-key"></i>Change Password</a> <a
                        [routerLink]="['/login']"> <i class="fa fa-sign-out"></i>Logout</a> </div>
            </div>
            </div>
        </div> -->
