// Start New Header
.site-header .navbar{
  width: 100%;
  padding: 0;
  .navbar-brand{
    width: 200px;
    img{
      width: 100%;
    }
  }
  .navbar-nav{
    align-items: center;
  }
  .nav-item a{
    color: #616161;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 600;
    img{
      width: 17px;
      vertical-align: text-top;
    }
  }
  .nav-item a:hover{
    color: #c00;
  }
  .dropdown button{
    background: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
    color: #616161;
    padding: 21px 0;
    .fa-user-circle{
      font-size: 18px;
      vertical-align: text-top;
      color: #c00; 
    }
  }
  .dropdown button:hover{
    color: #c00;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    right: -9px;
    top: 61px;
    text-align: center;
    background-color: #fff;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0 10px;
    a{
      padding: 4px 0px;
      color: #616161;
      font-weight: 600;
      display: block;
      font-size: 14px;
      text-align: left;
    }
    i{
      color: #616161;
    }
    
    a:hover i{
      color: #c00;
    }
    
  }
  .dropdown-content a:hover {
    background-color: #fff;
    color: #c00;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
}


.top-search-btn{
  background: none;
    border: 0;
    font-size: 17px;
    padding: 10px;
}
#overlay{
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 9999!important;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.9);
  overflow: hidden;
  transition: .75s;
  display: flex;
    justify-content: center;
    align-items: center;
}
.cross-button{
  font-size: 74px;
  color: #fff;
  position: absolute;
  right: 81px;
  top: 47px;
}
.search-input{
  background: transparent;
  line-height: 3;
  width: 80%;
  margin: 0 auto;
  border: none;
  border-bottom: 1 px solid;
  border-bottom: 1px solid #fff;
  color: #fff!important;
  font-size: 25px;
  padding: 0;
}


