@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

body,html{
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Source Sans Pro" sans-serif;
}
.button__holder{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    //background-color: #1a1a1a;
&:after{
     content: "";
     position: absolute;
     z-index: 0;
     top: 0; right: 0; bottom: 0; left: 0;
     //background: rgba(#1a1a1a, 0.7);
 }
h2{
margin: {right: 1em;}
text-align: center;
color: #79CDCD;
}
}
.plus{
    position: relative;
    z-index: 1;
    width: 80px;
    height: 80px;
    //color: #1a1a1a;
    background: #262626;
    border-radius: 50%;
    border: none;
    transition: box-shadow 400ms cubic-bezier(.2,0,.7,1), transform 200ms cubic-bezier(.2,0,.7,1);
&:after{
     content: "+";
     font-size: 5em;
     line-height: 1.1em;
  color: white;
 }
&:hover{
     //transform: rotate(90deg);
  box-shadow:
          0 0 1px 10px rgba(13, 13, 13, 0.16),
          0 0 1px 20px rgba(56, 50, 50, 0.1),
          0 0 1px 30px rgba(0, 0, 0, 0.1);
}
 // &:hover{
 //    //transform: rotate(90deg);
 //    box-shadow: 0 0 1px 15px rgba(#79CDCD, 0.4),
 //    0 0 1px 30px rgba(#00FFFF, 0.1),
 //    0 0 1px 45px rgba(#00FFFF, 0.1);
 //}
}
#list_name{
  font-size: 16px;
  font-weight: 700;
  color: #c00;
  text-transform: capitalize;
}
.mat-tab-labels{
  background-color: #FFFFFF;
}
.sh-n-table table thead tr th{
  background: #000;
  color: #fff;
  text-align: center;
  border-right: 1px solid;
  //font-weight: 500;
  font-size: 16px;
  padding: 5px 0;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.5),0 6px 20px 0 rgba(0,0,0,.19)!important;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.5),0 6px 20px 0 rgba(0,0,0,.19)!important;
}
.sh-n-table table tbody tr td {
  width: 300px;
  padding: 5px 10px;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  font-size: .9em;
  font-weight: 400;
  color: #000;
  border: none!important;
  border-bottom: 1px solid #ccc!important;
}
.sh-n-table table tbody tr td a {
  cursor: pointer;
}
.crete-list-button{
  background: #82d0dc;
  margin: 17px!important;;
}
.crete-list-button:hover{
  color:#fff;
}
.tasks-grid .header .tasks-grid-col-title {
  display: block;
  padding: 27px 0 0
}
.task-card-title-label h5{
  padding-top: 13px;
    color: #6991c5;
    text-transform: capitalize;
    font-weight: 600;
}
.task-card-footer{
  display: flex;
  justify-content: center;
}
.task-card-meta-item{
  cursor: pointer;
  padding: 5px;
  color: #6991c5;
}
.avatar-preview-32{
  color: #d66464;
  padding: 5px;
  cursor: pointer;
}
.avatar-preview-32:hover{
  color:#c00
}

.sh-n-table table tbody tr td:first-child{
  color: #c00;
  cursor: pointer;
}

i{
  font-size: 18px;
}
.btn-rounded{
  background: #000;
  color: #fff;
  text-align: center;
  margin-top: 3%;
  font-size: 17px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.list-name{
  color: black;
  font-size: 18px;
}
label{
  color: black;
  font-size: 17px;
  font-weight: 600;
}
a{
  cursor: pointer;
}
mat-tab-header{
  background: #FFFFFF!important;
}
.nav-link-in-dash{
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.fa-globe{
  color: #0b29ff;
}
.fa-twitter{
  color: #1da5de;
}
.fa-newspaper{
  color: #ff4900;
}
.fa-youtube{
  color: #d20008;
}
.fa-instagram{
  color: #ff0043;
}
.fa-facebook{
  color: #345396
}
.fa-pinterest {
  color: #d80007;
}
