

<div class="">
    <div class="">
        <div class="login-page">
            <div class="col-lg-5 col-md-9 col-sm-12 col-xs-12 login-wrap">
                <form class="ng-untouched ng-pristine ng-valid"
                      #f="ngForm" novalidate>
                    <div class="card custom-width">
                        <div class="card-header text-center" data-background-color="rose">
                            <h4 class="card-title">
                                <label class="signin-heading"> Change Password</label></h4>

                        </div>

                        <div class="card-content">
                            <mat-form-field class="loginfrom md-size">
                                <input matInput type="text" placeholder="New Password" >

                            </mat-form-field>

                            <mat-form-field class="loginfrom md-size">
                                <input matInput type="text" placeholder="Confirm Password" >

                            </mat-form-field>

                            <div class="row ">
                                <div class="col-md-12 text-center">

                                    <button type="submit" class="btn btn-rounded">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-md-3"></div>
        </div>
    </div>
</div>
