md-tab-group{
  -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.5),0 6px 20px 0 rgba(0,0,0,.19)!important;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.5),0 6px 20px 0 rgba(0,0,0,.19)!important;
}
section{
  -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.5),0 6px 20px 0 rgba(0,0,0,.19)!important;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.5),0 6px 20px 0 rgba(0,0,0,.19)!important;
}
.body{
  background-color: #f9f9f9!important;
}
mat-form-field{
  width: 75%;
  line-height: 0.95;
}
.col-md-6{
  margin-top: 0!important;
}
.btn-rounded {
  background: #000;
  color: #fff;
  text-align: center;
  margin-top: 3%;
  border-color: black;
  font-size: 17px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
