.recapcha-input {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: #000;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 13px 0;
    display: block;
    /* font-family: arial; */
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.recapcha-input::placeholder {
    color: #5d5d5d
}

.card {
  width: 168px;
  padding: 10px 10px;
  margin: 5px auto;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
a{
    color: #007dff !important;
}

.refrash-button {
    background: #000;
    border: none;
    color: #fff;
    border-radius: 50px;
    width: 33px;
    float: right;
    margin-top: 10px;
    height: 33px;
}
.refrash-button:hover{
    background: #c00;
}

.refrash-button .mat-icon {
    line-height: inherit;
    font-size: 22px!important;
    width: auto;
    height: auto
}
.card .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main img {
    width: 75%;
    float: left;
    border-radius: 5px
}
