<div class="page-content" style="padding-right:15px;">

    <div class="row">
        <div class="container-fluid ">
            <mat-tab-group   style="background: #000;  ">


                <mat-tab class="font-icon font-icon-page" label="Web" style="margin: 0 auto">
                    <ng-template mat-tab-label style="background: white">
                          <span class="nav-link-in">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                                    Category Search
									</span>
                    </ng-template>
                    <div class="body">


                        <div class="row">
                            <div class="col-md-3">
                                <h6 style="padding: 20px 20px 2px 20px; font-weight: bolder"> Youtube Influencers</h6>
                            </div>
                            <div class="col-md-6 text-center p-auto">

                                <mat-form-field class="example-full-width " style="width:60%">
                                    <input type="text" class="form-control" placeholder="Select Category" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getYTChannels($event)">
                                        <mat-option *ngFor="let option of filteredOptions | async"  [value]="option">
                                            {{ option }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>


                            </div>

                        </div>
                    </div>
                </mat-tab>
                <mat-tab class="font-icon font-icon-page" label="Web" style="margin: 0 auto">
                    <ng-template mat-tab-label style="background: white">
                          <span class="nav-link-in">
										<i class="fa fa-fire"></i>
                                    Advanced Search
									</span>
                    </ng-template>
                    <div class="body">
                        <div class="container">
                            <form (submit)="setPage(1)">
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-select  name="selected_choice"  [(ngModel)]="selected_category" (change)="getCatName($event)"
                                                    placeholder="Select Category" style="width:75%">
                                            <mat-option *ngFor="let choice of options" [value]="choice">{{ choice }}</mat-option>
                                        </mat-select>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <input matInput type="text"[(ngModel)]="name" placeholder="Serch by Title/Name" name="contact">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <input matInput type="text" [(ngModel)]="subscribers" placeholder="Serch by Subscribers" name="social">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <input matInput type="text" [(ngModel)]="t_views" placeholder="Serch by Total Views" name="seo">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <input matInput type="text" [(ngModel)]="rank" placeholder="Serch by Rank" name="loc">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <input matInput type="text" [(ngModel)]="today_upload_video" placeholder="Serch by Today Upload Videos" name="er">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom: 1%">
                                    <div class="col-md-6">
                                        <mat-form-field>
                                            <input matInput type="text" [(ngModel)]="tomorrow_upload_video" placeholder="Serch by Tommorow Upload Videos" name="er">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2 offset-md-4 text-right">
                                        <button type="submit"  class="btn btn-rounded" >
                                            Search <i class="fa fa-sliders"></i>
                                        </button>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>

                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

    <div class="row" *ngIf="!loaded" style="margin-top: 3%">
        <div class="col-md-12 text-left">
            <h4 style="font-weight: bolder">Featured Youtube Influencers</h4>
        </div>

    </div>

    <div class="SickyPage">
  <div id="wrapper" *ngIf="loaded&& influencers.totalItems!=0">

    <div class="row" style="margin-top: 2%">
        <div class="col-md-12 text-center">
      <nav>
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-lg">

          <!--<li [ngClass]="{disabled:pager.currentPage === 1}">-->
          <!--<a (click)="setPage(pager.currentPage - 1)" class="page-link" aria-label="Previous"></a>-->
          <!--</li>-->
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
            <a class="page-link" (click)="setPage(1)" aria-label="Previous">
              First
            </a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
            <a class="page-link" (click)="setPage(pager.currentPage - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <li class="page-item" *ngFor="let page of pager.pages"
              [ngClass]="{active:pager.currentPage === page}"
              (click)="setPage(page)"><a class="page-link" (click)="navSearch()">{{page}}</a></li>
          <!--<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">-->
          <!--<a (click)="setPage(pager.currentPage + 1)">Next</a>-->
          <!--</li>-->
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a class="page-link" (click)="setPage(pager.currentPage + 1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a class="page-link" (click)="setPage(pager.totalPages)" aria-label="Next">
              Last
            </a>
          </li>
          <!--<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">-->
          <!--<a (click)="setPage(pager.totalPages)">Last</a>-->
          <!--</li>-->
        </ul>
      </nav>
    </div>
    </div>
  </div>
  </div>


    <div class="row" *ngIf="inCurrentpage">
        <div class="col-md-4"style="text-align: left"  >
            <h6>List Name: <b>{{currentList.name}} </b> </h6>
        </div>
        <div class="col-md-4 offset-md-4 text-center" *ngIf="inCurrentpage">
            <a (click)="go_to_list_yt(currentList.id, currentList.name)" >View<b> List</b></a>

        </div>
    </div>

    <div class="container-fluid" *ngIf="!loaded">

        <div class="row" id="myHeader">
            <div class="col-md-12 list-row">
                <div class="row">
                    <div class="col-md-12">
                        <!--<button  class="btn btn-success">Select All</button>-->
                        <div id="ck-button">
                            <label>

                                <input type="checkbox"  (change)="cheakalldef($event.target.checked)" ><span>Select All</span>
                            </label>
                        </div>

                        <button  class="btn btn-priamry add-to-list" (click)="add_create_list()"> Add to list</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="cross-button">
                <a (click)=cl class="closebtn">×</a>
            </div>

        <div class="profile-container" *ngFor="let item of influencers_by_default.results" >
            <div class="row">


                <div class="col-md-2 profile-checkbox" type="checkbox">
                    <input type="checkbox" style="display: flex"  name="{{item['id']}}" [(ngModel)]="inflist[item['id']]" (change)="chec()" id="table-check-{{item['id']}}">
                    <label for="table-check-{{item['id']}}"></label>
                </div>
                <div class="col-md-2 text-center">
                    <img [src]="item['thumbnail_url']"  style="height: 100px;  width: 100px; margin-top: 15px; border-radius: 100%">
                </div>


                <div class="col-md-7" style="margin-left: 3%">
                    <div class="row">
                        <label class="tbl-cell tbl-cell-name">{{item['name']}}</label>
                    </div>
                    <div class="row" style="padding-top: 8px">
                        <label class="item-content" style="overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;" title="{{item['description']}}">{{item['description']}}</label>
                    </div>
                    <div class="row" style="padding-top: 8px">
                        <div class="col-md-3 text-left">
                            <label class="item-loc"> <i class="fa fa-map-marker" style="font-size:16px;color:#c00"></i> {{item['location']}}</label>

                        </div>
                        <div class="col-md-9 text-left" *ngIf="item['contact']" >

                            <label class="item-loc"> <i class="fa fa-location-arrow" style="font-size:16px;color:#c00; "></i> Contact:  <a style="color: #0a6aa1; font-weight: bolder">{{item['contact'].slice(7)}}</a></label>
                        </div>

                        <div class="col-md-9 text-left" *ngIf="!item['contact']">

                            <label class="item-loc"> <i class="fa fa-location-arrow" style="font-size:16px;color:#c00; "></i> Contact:  <a style="color: #0a6aa1; font-weight: bolder">N/A</a></label>
                        </div>
                    </div>
                    <hr style="color: #555555">
                    <div class="row" >
                        <ul style="display: flex; padding-top: 5px">
                            <li><span class="right-item"><i class="fa fa-users" style="font-size:16px;color:#0a4069"></i> subscribers:</span> <span class="list-item1">{{item['subscribers']}} |  </span> </li>
                            <li><span class="right-item"> <i class="fa fa-eye" style="font-size:16px;color:#0a4069"></i> Total Views:</span> <span class="list-item1">{{item['total_views']}} |   </span></li>
                            <li><span class="right-item"><i class="fa fa-bar-chart" style="font-size:16px;color:#0a4069"></i> Rank:</span> <span class="list-item1">{{item['rank']}}</span></li>
                            <li><span class="right-item"><i class="fa fa-calendar-o" style="font-size:16px;color:#0a4069"></i> Joined Year:</span> <span class="list-item1">{{item['date']}}</span></li>

                        </ul>
                    </div>
                    <hr style="color: #555555">
                    <div class="row" >
                        <ul style="display: flex; padding-top: 5px">
                            <li style="font-weight: bolder"> Videos Uploads | </li>
                            <li><span class="right-item"><i class="fa fa-upload" style="font-size:16px;color:#0a4069; padding-left: 5px"></i> Today :</span> <span class="list-item1">{{item['today_upload_videos']}} |  </span> </li>
                            <li><span class="right-item"> <i class="fa fa-file-video-o" style="font-size:16px;color:#0a4069"></i> Tomorrow :</span> <span class="list-item1">{{item['tomorrow_upload_videos']}} |   </span></li>
                            <li><span class="right-item"><i class="fa fa-newspaper-o" style="font-size:16px;color:#0a4069"></i> Last Week: </span> <span class="list-item1">{{item['last_week_upload_videos']}}</span></li>
                            <li><span class="right-item"><i class="fa fa-random" style="font-size:16px;color:#0a4069"></i> Last Month:</span> <span class="list-item1">{{item['last_month_upload_videos']}}</span></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div class="container-fluid" *ngIf="loaded && influencers.totalItems==0">
    <div class="box-typical box-typical-full-height" style="min-height: 119px;">
      <div class="add-customers-screen tbl" style="height: 119px;">
        <div class="add-customers-screen-in">
          <div class="add-customers-screen-user">
            <i class="font-icon font-icon-user"></i>
          </div>
          <h2>OOPS!</h2>
          <p class="lead color-blue-grey-lighter">No search results are found<br> try another category.</p>
          <!--<a href="#" class="btn">Add customer</a>-->
        </div>
      </div>
    </div><!--.box-typical-->
  </div>


    <div class="container-fluid" *ngIf="loaded&& influencers.totalItems!=0">

        <div class="row" id="myHeader">
            <div class="col-md-12 list-row">
                <div class="row">
                    <div class="col-md-6">
                        <!--<button  class="btn btn-success">Select All</button>-->
                        <div id="ck-button">
                            <label>

                                <input type="checkbox"  (change)="cheakall($event.target.checked)" ><span>Select All</span>
                            </label>
                        </div>

                        <button  class="btn btn-success" (click)="add_create_list()"> Add to list</button>

                    </div>
                </div>
            </div>
        </div>

        <div class="profile-container" *ngFor="let item of influencers.results" >
            <div class="row">


                <div class="col-md-2 profile-checkbox" type="checkbox">
                    <input type="checkbox" style="display: flex"  name="{{item['id']}}" [(ngModel)]="inflist[item['id']]" (change)="chec()" id="table-check-{{item['id']}}">
                    <label for="table-check-{{item['id']}}"></label>
                </div>
                <div class="col-md-2 text-center">
                    <img *ngIf="item['thumbnail_url']" [src]="item['thumbnail_url']"  style="height: 100px;  width: 100px; margin-top: 15px; border-radius: 100%">
                    <img *ngIf="!item['thumbnail_url']" src="../../assets/no-image-found.jpg"  style="height: 100px;  width: 100px; margin-top: 15px; border-radius: 100%">
                </div>


                <div class="col-md-7" style="margin-left: 3%">
                    <div class="row">
                        <label class="tbl-cell tbl-cell-name">{{item['name']}}</label>
                    </div>
                    <div class="row" style="padding-top: 8px">
                        <label class="item-content" style="overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;" title="{{item['description']}}">{{item['description']}}</label>
                    </div>
                    <div class="row" style="padding-top: 8px">
                        <div class="col-md-3 text-left" *ngIf="item['location']">
                            <label class="item-loc"> <i class="fa fa-map-marker" style="font-size:16px;color:#c00"></i> {{item['location']}}</label>

                        </div>
                        <div class="col-md-3 text-left" *ngIf="!item['location']">
                            <label class="item-loc"> <i class="fa fa-map-marker" style="font-size:16px;color:#c00"></i> N/A</label>

                        </div>
                        <div class="col-md-9 text-left" *ngIf="item['contact']">

                            <label class="item-loc"> <i class="fa fa-location-arrow" style="font-size:16px;color:#c00; "></i> Contact:  <a style="color: #0a6aa1; font-weight: bolder">{{item['contact']}}</a></label>
                        </div>
                        <div class="col-md-9 text-left" *ngIf="!item['contact']">

                            <label class="item-loc"> <i class="fa fa-location-arrow" style="font-size:16px;color:#c00; "></i> Contact:  <a style="color: #0a6aa1; font-weight: bolder">N/A</a></label>
                        </div>
                    </div>
                    <hr style="color: #555555">
                    <div class="row" >
                        <ul style="display: flex; padding-top: 5px">
                            <li><span class="right-item"><i class="fa fa-users" style="font-size:16px;color:#0a4069"></i> subscribers:</span> <span class="list-item1">{{item['subscribers']}} |  </span> </li>
                            <li><span class="right-item"> <i class="fa fa-eye" style="font-size:16px;color:#0a4069"></i> Total Views:</span> <span class="list-item1">{{item['total_views']}} |   </span></li>
                            <li><span class="right-item"><i class="fa fa-bar-chart" style="font-size:16px;color:#0a4069"></i> Rank:</span> <span class="list-item1">{{item['rank']}}</span></li>
                            <li><span class="right-item"><i class="fa fa-calendar-o" style="font-size:16px;color:#0a4069"></i> Joined Year:</span> <span class="list-item1">{{item['date']}}</span></li>

                        </ul>
                    </div>
                    <hr style="color: #555555">
                    <div class="row" >
                        <ul style="display: flex; padding-top: 5px">
                            <li style="font-weight: bolder"> Videos Uploads | </li>
                            <li><span class="right-item"><i class="fa fa-upload" style="font-size:16px;color:#0a4069; padding-left: 5px"></i> Today :</span> <span class="list-item1">{{item['today_upload_videos']}} |  </span> </li>
                            <li><span class="right-item"> <i class="fa fa-file-video-o" style="font-size:16px;color:#0a4069"></i> Tomorrow :</span> <span class="list-item1">{{item['tomorrow_upload_videos']}} |   </span></li>
                            <li><span class="right-item"><i class="fa fa-newspaper-o" style="font-size:16px;color:#0a4069"></i> Last Week: </span> <span class="list-item1">{{item['last_week_upload_videos']}}</span></li>
                            <li><span class="right-item"><i class="fa fa-random" style="font-size:16px;color:#0a4069"></i> Last Month:</span> <span class="list-item1">{{item['last_month_upload_videos']}}</span></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
